<fieldset data-hook="affirm_source_view">
  <legend align="center">Affirm Source</legend>

  <div class="row">
    <div class="col-4">
      <dl>
        <dt>Provider:</dt>
        <dd><%= payment.source.provider %></dd>
      </dl>
    </div>
  </div>
</fieldset>
