---
http_interactions:
- request:
    method: post
    uri: https://sandbox.affirm.com/api/v2/charges/X0KF-8HQY/refund
    body:
      encoding: UTF-8
      string: '{"amount":10000}'
    headers:
      Authorization:
      - Basic WFBTUTNDQTdQTE43Q0pDSzp3OW14a1FVcnlLalRZRHFPZlN2WVRlVEdvTElVUktwVQ==
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Content-Type:
      - application/json
      X-Affirm-Request-Id:
      - acad4922-7e89-4785-c7ed-4b931b5e471c
    body:
      encoding: UTF-8
      string: '{"status_code": 400, "message": "Cannot refund voided charge.", "code":
        "refund-voided", "type": "invalid_request"}'
  recorded_at: Sun, 12 Feb 2017 20:33:00 GMT
recorded_with: VCR 3.0.3
