---
http_interactions:
- request:
    method: post
    uri: https://sandbox.affirm.com/api/v2/charges
    body:
      encoding: UTF-8
      string: '{"checkout_token":"FOOBAR"}'
    headers:
      Authorization:
      - Basic WFBTUTNDQTdQTE43Q0pDSzp3OW14a1FVcnlLalRZRHFPZlN2WVRlVEdvTElVUktwVQ==
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Content-Type:
      - application/json
      X-Affirm-Request-Id:
      - bd27b4f9-fba7-4ce4-ccca-b369ffcb46d5
    body:
      encoding: UTF-8
      string: '{"status_code": 400, "message": "Invalid Request", "type": "invalid_request"}'
  recorded_at: Sun, 12 Feb 2017 20:10:43 GMT
recorded_with: VCR 3.0.3
