---
http_interactions:
- request:
    method: post
    uri: https://sandbox.affirm.com/api/v2/charges/N330-Z6D4/capture
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Basic WFBTUTNDQTdQTE43Q0pDSzp3OW14a1FVcnlLalRZRHFPZlN2WVRlVEdvTElVUktwVQ==
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Affirm-Request-Id:
      - 1af04dd3-2cce-45fe-c5ee-20e60507e3ab
    body:
      encoding: UTF-8
      string: '{"fee": 1275, "created": "2017-02-02T20:46:12Z", "currency": "USD",
        "amount": 42499, "type": "capture", "id": "7DOHCZFER4H7JM99", "transaction_id":
        "Vdoadw3u72HiW1LP"}'
  recorded_at: Thu, 02 Feb 2017 20:46:12 GMT
recorded_with: VCR 3.0.3
