---
http_interactions:
- request:
    method: get
    uri: https://sandbox.affirm.com/api/v2/charges/GOH6-7PUX
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic WFBTUTNDQTdQTE43Q0pDSzp3OW14a1FVcnlLalRZRHFPZlN2WVRlVEdvTElVUktwVQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Affirm-Request-Id:
      - 2712219f-bd8a-485c-c819-02efcdc4381e
    body:
      encoding: UTF-8
      string: '{"currency": "USD", "id": "GOH6-7PUX", "under_dispute": false, "user_id":
        "7058-0675-OWZI", "details": {"merchant": {"public_api_key": "XPSQ3CA7PLN7CJCK",
        "user_cancel_url": "http://localhost:3000/affirm/cancel?order_id=4&payment_method_id=4",
        "user_confirmation_url": "http://localhost:3000/affirm/confirm?order_id=4&payment_method_id=4",
        "name": "[TEST] Stembolt"}, "tax_amount": 1025, "billing": {"name": {"full":
        "Peter Berkenbosch", "last": "Berkenbosch", "first": "Peter"}, "address":
        {"city": "New York", "country": "USA", "zipcode": "10001", "line1": "20 W
        29th St", "line2": "", "state": "NY"}}, "checkout_type": "merchant", "order_id":
        "R972553602", "items": {"ROR-00015": {"sku": "ROR-00015", "item_url": "http://localhost:3000/products/ruby-on-rails-ringer-t-shirt",
        "display_name": "Ruby on Rails Ringer T-Shirt", "unit_price": 1999, "qty":
        10, "item_type": "physical", "item_image_url": "/spree/products/29/large/ror_ringer.jpeg?1486153070"}},
        "shipping": {"name": {"full": "Peter Berkenbosch", "last": "Berkenbosch",
        "first": "Peter"}, "address": {"city": "New York", "country": "USA", "zipcode":
        "10001", "line1": "20 W 29th St", "line2": "", "state": "NY"}}, "currency":
        "USD", "meta": {"release": "true", "user_timezone": "America/New_York", "__affirm_tracking_uuid":
        "35f9a44b-586a-46e9-bdd2-1cf76804f756"}, "shipping_amount": 500, "total":
        21515, "config": {}, "api_version": "v2", "merchant_external_reference": "R972553602"},
        "refundable": false, "charge_event_count": 0, "events": [{"created": "2017-02-06T18:21:53Z",
        "currency": "USD", "amount": 21515, "type": "auth", "id": "W7P0TG12F5TQIVZ7",
        "transaction_id": "uuHtqhqUsAuqXMz7"}], "pending": true, "merchant_external_reference":
        "R972553602", "status": "authorized", "order_id": "R972553602", "void": false,
        "expires": "2017-03-08T18:21:54Z", "payable": 0, "merchant_id": "3VXA5KS4ZA7IZLA3",
        "auth_hold": 21515, "refunded_amount": 0, "created": "2017-02-06T18:21:32Z",
        "amount": 21515, "balance": 21515, "financing_program": "default_3_6_12"}'
  recorded_at: Wed, 17 Jan 2018 13:50:42 GMT
recorded_with: VCR 4.0.0
