---
http_interactions:
- request:
    method: post
    uri: https://sandbox.affirm.com/api/v2/charges/N330-Z6D4/refund
    body:
      encoding: UTF-8
      string: '{"amount":1000}'
    headers:
      Authorization:
      - Basic WFBTUTNDQTdQTE43Q0pDSzp3OW14a1FVcnlLalRZRHFPZlN2WVRlVEdvTElVUktwVQ==
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Affirm-Request-Id:
      - 0306c002-b282-4c24-cc09-dea2f1149fc7
    body:
      encoding: UTF-8
      string: '{"created": "2017-02-02T21:11:09Z", "fee_refunded": 30, "currency":
        "USD", "amount": 1000, "type": "refund", "id": "Q9V5OSY77YIZN8S0", "transaction_id":
        "tFpFOCQrW3b8UxDU"}'
  recorded_at: Thu, 02 Feb 2017 21:11:10 GMT
recorded_with: VCR 3.0.3
