---
http_interactions:
- request:
    method: post
    uri: https://sandbox.affirm.com/api/v2/charges/S9U6-L83F/capture
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Basic WFBTUTNDQTdQTE43Q0pDSzp3OW14a1FVcnlLalRZRHFPZlN2WVRlVEdvTElVUktwVQ==
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Affirm-Request-Id:
      - 1204af8f-9725-483e-c8f9-a7c033f90ad5
    body:
      encoding: UTF-8
      string: '{"fee": 1794, "created": "2017-01-18T12:49:18Z", "currency": "USD",
        "amount": 59813, "type": "capture", "id": "TVM0HPW1RZEYA58Y", "transaction_id":
        "AxlAmpxjf6YWDYp3"}'
  recorded_at: Wed, 18 Jan 2017 12:49:19 GMT
recorded_with: VCR 3.0.3
