---
http_interactions:
- request:
    method: post
    uri: https://sandbox.affirm.com/api/v2/charges
    body:
      encoding: UTF-8
      string: '{"checkout_token":"TKLKJ71GOP9YSASU"}'
    headers:
      Authorization:
      - Basic WFBTUTNDQTdQTE43Q0pDSzp3OW14a1FVcnlLalRZRHFPZlN2WVRlVEdvTElVUktwVQ==
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Affirm-Request-Id:
      - 23efb47c-81e5-4ceb-cce4-d3b82188c568
    body:
      encoding: UTF-8
      string: '{"currency": "USD", "id": "X0KF-8HQY", "under_dispute": false, "user_id":
        "7058-0675-OWZI", "details": {"merchant": {"public_api_key": "XPSQ3CA7PLN7CJCK",
        "user_cancel_url": "http://localhost:3000/affirm/cancel?order_id=13&payment_method_id=4",
        "user_confirmation_url": "http://localhost:3000/affirm/confirm?order_id=13&payment_method_id=4",
        "name": "[TEST] Stembolt"}, "tax_amount": 525, "billing": {"name": {"full":
        "Peter Berkenbosch", "last": "Berkenbosch", "first": "Peter"}, "address":
        {"city": "New York", "country": "USA", "zipcode": "10001", "line1": "20 W
        29th St", "line2": "", "state": "NY"}}, "checkout_type": "merchant", "order_id":
        "R455423173", "items": {"RUB-00001": {"sku": "RUB-00001", "item_url": "http://9cfb58bc.ngrok.io/products/ruby-baseball-jersey",
        "display_name": "Ruby Baseball Jersey", "unit_price": 1999, "qty": 5, "item_type":
        "physical", "item_image_url": "/spree/products/34/large/ruby_baseball.png?1485939808"}},
        "shipping": {"name": {"full": "Peter Berkenbosch", "last": "Berkenbosch",
        "first": "Peter"}, "address": {"city": "New York", "country": "USA", "zipcode":
        "10001", "line1": "20 W 29th St", "line2": "", "state": "NY"}}, "currency":
        "USD", "meta": {"release": "true", "user_timezone": "America/New_York", "__affirm_tracking_uuid":
        "35f9a44b-586a-46e9-bdd2-1cf76804f756"}, "shipping_amount": 500, "total":
        11020, "config": {}, "api_version": "v2", "merchant_external_reference": "R455423173"},
        "refundable": false, "charge_event_count": 0, "events": [{"created": "2017-02-02T20:56:31Z",
        "currency": "USD", "amount": 11020, "type": "auth", "id": "NCJ6OV88SMSKLLJO",
        "transaction_id": "ZBDAClPvmTUPPphW"}], "pending": true, "merchant_external_reference":
        "R455423173", "status": "authorized", "order_id": "R455423173", "void": false,
        "expires": "2017-03-04T20:56:31Z", "payable": 0, "merchant_id": "3VXA5KS4ZA7IZLA3",
        "auth_hold": 11020, "refunded_amount": 0, "created": "2017-02-02T20:53:54Z",
        "amount": 11020, "balance": 11020, "financing_program": "default_3_6_12"}'
  recorded_at: Thu, 02 Feb 2017 20:56:32 GMT
recorded_with: VCR 3.0.3
