---
http_interactions:
- request:
    method: post
    uri: https://sandbox.affirm.com/api/v2/charges/X0KF-8HQY/void
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Basic WFBTUTNDQTdQTE43Q0pDSzp3OW14a1FVcnlLalRZRHFPZlN2WVRlVEdvTElVUktwVQ==
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Affirm-Request-Id:
      - c0b6eca0-735a-4aa8-ca52-cf59da095ee2
    body:
      encoding: UTF-8
      string: '{"type": "void", "id": "UVV26U9NQLF46TWP", "transaction_id": "GtN279V0HRitB8HX",
        "created": "2017-02-02T21:11:10Z"}'
  recorded_at: Thu, 02 Feb 2017 21:11:10 GMT
recorded_with: VCR 3.0.3
